
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap');
@import url("https://api.fontshare.com/v2/css?f[]=nunito@700,600,400&f[]=space-grotesk@700,400,600&f[]=clash-display@700,600&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=nunito@700,600,400&f[]=space-grotesk@700,400,600&f[]=clash-display@700,600&display=swap");
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
    transition: all 0.3s ease-out;


}

:root
{
    --font-primary:'Archivo', sans-serif;
    --font-nunito:'Nunito', sans-serif;
    --font-2:'Space Grotesk', sans-serif;
    --font-3:'Clash Display', sans-serif;
    --main-color: #025FFF;
    --color_2: #198754;
    --color_3: hwb(0 0% 100% / 0.87);
    --color_4: hsl(14, 37%, 76%);
    --color_5: rgb(66, 135, 255);
    --white: #fff;
    --placeholder: #f9f9f9;
    --font-48: 48.83px;
    --font-39: 39.06px;
    --font-31: 31.25px;
    --font-25: 25.00px;
    --font-20: 20.00px;
    --font-16: 16.00px;
    --font-12: 12.80px;
    --font-10: 10.24px;
    --font-8: 8.19px;
}

body{
    font-family: var(--font-primary);
    font-size: var(--font-16);
}

.logo a {
    /* font-family: var(--font-nunito); */
    /* font-size: var(--font-25); */
    /* font-weight: 700; */
    text-decoration: none;
    /* color: white; */
    /*  */

}

.logo span {
    font-family: var(--font-3);
}
